body {
    background-color: #c4f8ff;
}

footer {
    position: absolute;
    text-align: right;
    bottom: 5px;
    left: 10px;
    right: 10px;
}

.center {
    margin: auto;
    text-align: center;
}

#awooButtonContainer {
    height: 350px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#awooButton {
    width: 350px;
    height: 350px;
}

#awooButton.active {
    cursor: pointer;
}

#awooButton.active:active {
    width: 300px;
    height: 300px;
}